@model ClassLibrary.Interface.OperationResult

@if (Model != null)
{
    switch (Model)
    {
        case ClassLibrary.Interface.Completions.AddPersonCompleted completed:
            <div id="result" class="alert alert-success" role="alert">
                Persona @completed.AddedPerson.PersonId creada correctamente.
            </div>
            break;

        case ClassLibrary.Interface.Rejections.PersonOperationRejected rejected:
            <div id="result" class="alert alert-danger" role="alert">
                @ClassLibrary.Constants.Messages.FromErrorCode(rejected.ErrorCode)
            </div>
            break;
    }
}

